body {
    display: flex;
    flex-direction: column;
    /* padding: 10px; */
    margin: 0;
    align-items: center;
    justify-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EEE;
}

.heading1 {
    background-color: rgb(30, 30, 30);
    width: 100%;
    justify-items: center;

    color: white;
}

.heading-p {
    color: rgba(255, 255, 255, 0.874);
    font-size: 14px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 5px;
}

a {
    color: white;
    font-size: 13;
    text-decoration: none;
}

#about {
    /* background-color: rgb(255, 0, 0); */
    width: 100%;
    justify-items: center;
    margin-bottom: 150px;
}

.about-head {
    margin-top: 50px;
    margin-bottom: 30px;
}

.about-p-container {
    /* background-color: aqua; */
    width: 50%;
    text-align: center;

}

#projects {
    width: 100%;
    justify-items: center;
    margin-bottom: 100px;
    /* background-color: aqua; */

    margin-bottom: 150px;
}

.projects-head{
    margin-top: 0px;
    margin-bottom: 30px;
}

.projects-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project{
    padding: 10px;
    background-color: White;
    width: 275px;
    border-radius: 7px;
    box-shadow: 1px 1px 5px 5px rgba(30, 30, 30, 0.094);
}

#contact{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;
}

.input-box{
    width: 25%;
    height: 30px;
}

#message-box{
    width: 25%;
    height: 70px;
}

.submit-button{
    background-color: rgb(30, 30, 30);
    color: #EEE;
    width: 25.5%;
    height: 30px;
    border-radius: 7px;
}

.end-footer{
    background-color: rgb(30, 30, 30);
    color: #EEE;
    width: 100%;
    text-align: center;
    height: 50px;
    align-content: center;
}




