body{
    /* background-color: rgb(60, 33, 0); */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

}

.mob-app{
    background-color: rgb(34, 34, 34);
    width: 40%;
    /* height: 600px; */
    border-radius: 20px;
}

.header-container{
    /* background-color: grey; */
    height: 100px;
    text-align: center;
    align-content: center;
    border-radius: 20px 20px 0px 0px;
}

.result-container{
    background-color: rgb(81, 81, 81);
    height: 100px;
    text-align: right;
    font-size: 50px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 25px;
    align-content: center;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.buttons-container{
    /* background-color: rgb(255, 255, 255); */
    width: 100%;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.row1-container, .row2-container, .row3-container, .row4-container, .row5-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.btn, .op-btn{
    background-color:  rgb(81, 81, 81);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    color: whitesmoke;
    justify-content: center;
    align-content: center;
    font-size: 40px;
}

.btn:hover{
    cursor: pointer;
    background-color: rgba(105, 105, 105, 0.884);
    transition: 0.3s;
}

.op-btn{
    background-color: rgb(255, 165, 0);
    
}

.op-btn:hover{
    cursor: pointer;
    background-color: rgb(255, 178, 35);
    transition: 0.3s;
}

#zero-btn{
    width: 220px;
    padding-left: 30px;
}

#AC-btn{
    background-color: rgb(167, 167, 167);
    color: black;
}





